p{
    padding: 10px;
    background-color: #800000;
    color: aliceblue;
    text-align: center
}

body{
    text-align: center;
    background-color: #9ea2a2;
    color:#3D3935;
    font-family: 'Times New Roman', Times, serif;
}

button{
    color: white;
    text-align: center;
    border: none;
    background-color: #800000;
    text-align: center;
    display: inline-block;
    padding: 15px 32px;
}
#links{
    text-align: center;
    padding: 15px 32px;
    color: aliceblue;
}

#button{
    text-align: center;
}
Open Search Open Navigation Home / Code Snippets / CSS / Sticky Footer Sticky Footer Photo of Chris Coyier Author Chris Coyier 143 Comments Join the Conversation Published Sep 4,
2009 Updated May 25,
2016 Twitter Facebook Ship custom analytics today with Keen.io. Works great if you can apply a fixed height to the footer. <div class="page-wrap">Content ! </div><footer class="site-footer">I'm the Sticky Footer.
</footer>* {
    margin: 0;
}

html,
body {
    height: 100%;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -142px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer,
.page-wrap:after {
    height: 142px;
}